solutions/PharmaTrack360/src/Workflows/DrugExpirationNotification-09B78EBD-4EFC-F011-8406-002248A08132.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "cr981_expenseTracker.shared_commondataserviceforapps.16ec2424f3e941859b7c1c78d1174c06"
        },
        "runtimeSource": "embedded"
      },
      "shared_outlook": {
        "api": {
          "name": "shared_outlook"
        },
        "connection": {
          "connectionReferenceLogicalName": "new_sharedoutlook_c5585"
        },
        "runtimeSource": "invoker"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          },
          "metadata": {
            "operationMetadataId": "af1628eb-b691-4f2c-964d-44d34f2f82ed"
          }
        }
      },
      "actions": {
        "List_expired_batches_row": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "pharma_inventorybatcheses",
              "$select": "pharma_expirationdate,pharma_quantityremaining,pharma_name,pharma_daystillexpiration",
              "$filter": "pharma_expirationdate lt @{addDays(utcNow(),30)} and statecode eq 0",
              "$expand": "pharma_Product($select=pharma_productname)"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "connectionName": "shared_commondataserviceforapps"
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "e207de70-e097-4503-8b90-a6b100207f1e"
          }
        },
        "Save_email_variable_html": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "EmailBody",
                "type": "string",
                "value": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Drug Expiration Notification</title>\n</head>\n<body style=\"margin: 0; padding: 0; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: #f4f4f4;\">\n    <table role=\"presentation\" style=\"width: 100%; border-collapse: collapse;\">\n        <tr>\n            <td style=\"padding: 20px 0;\">\n                <table role=\"presentation\" style=\"width: 100%; max-width: 700px; margin: 0 auto; background-color: #ffffff; border-radius: 8px; overflow: hidden; box-shadow: 0 2px 8px rgba(0,0,0,0.1);\">\n                    \n                    <!-- Header -->\n                    <tr>\n                        <td style=\"background: linear-gradient(135deg, #d32f2f 0%, #c62828 100%); padding: 30px; text-align: center;\">\n                            <h1 style=\"margin: 0; color: #ffffff; font-size: 24px; font-weight: 600;\">⚠️ Drug Expiration Alert</h1>\n                            <p style=\"margin: 10px 0 0 0; color: #ffebee; font-size: 14px;\">Immediate attention required</p>\n                        </td>\n                    </tr>\n                    \n                    <!-- Content -->\n                    <tr>\n                        <td style=\"padding: 30px;\">\n                            <p style=\"margin: 0 0 20px 0; color: #333333; font-size: 16px; line-height: 1.5;\">\n                                The following products are expiring soon or have expired. Please review and take appropriate action.\n                            </p>\n                            \n                            <!-- Data Table -->\n                            <table role=\"presentation\" style=\"width: 100%; border-collapse: collapse; margin: 20px 0;\">\n                                <thead>\n                                    <tr style=\"background-color: #f5f5f5;\">\n                                        <th style=\"padding: 12px; text-align: left; font-size: 13px; font-weight: 600; color: #555555; border-bottom: 2px solid #d32f2f;\">Product Name</th>\n                                        <th style=\"padding: 12px; text-align: left; font-size: 13px; font-weight: 600; color: #555555; border-bottom: 2px solid #d32f2f;\">Batch</th>\n                                        <th style=\"padding: 12px; text-align: center; font-size: 13px; font-weight: 600; color: #555555; border-bottom: 2px solid #d32f2f;\">Days Until Expiry</th>\n                                        <th style=\"padding: 12px; text-align: left; font-size: 13px; font-weight: 600; color: #555555; border-bottom: 2px solid #d32f2f;\">Expiration Date</th>\n                                        <th style=\"padding: 12px; text-align: center; font-size: 13px; font-weight: 600; color: #555555; border-bottom: 2px solid #d32f2f;\">Qty Remaining</th>\n                                    </tr>\n                                </thead>\n                                <tbody>"
              }
            ]
          },
          "runAfter": {
            "List_expired_batches_row": [
              "Succeeded"
            ]
          }
        },
        "Apply_to_each": {
          "type": "Foreach",
          "foreach": "@outputs('List_expired_batches_row')?['body/value']",
          "actions": {
            "Append_table_rows": {
              "type": "AppendToStringVariable",
              "inputs": {
                "name": "EmailBody",
                "value": "<tr style=\"border-bottom: 1px solid #eeeeee;\">\n    <td style=\"padding: 12px; font-size: 14px; color: #333333;\">@{items('Apply_to_each')?['pharma_product/pharma_productname']}</td>\n    <td style=\"padding: 12px; font-size: 14px; color: #666666;\">@{items('Apply_to_each')?['pharma_name']}</td>\n    <td style=\"padding: 12px; text-align: center; font-size: 14px; font-weight: 600; color: @{if(less(items('Apply_to_each')?['pharma_daystillexpiration'], 0), '#d32f2f', if(less(items('Apply_to_each')?['pharma_daystillexpiration'], 30), '#ff9800', '#4caf50'))};\">\n        @{items('Apply_to_each')?['pharma_daystillexpiration']}\n    </td>\n    <td style=\"padding: 12px; font-size: 14px; color: #333333;\">@{formatDateTime(items('Apply_to_each')?['pharma_expirationdate'], 'MMM dd, yyyy')}</td>\n    <td style=\"padding: 12px; text-align: center; font-size: 14px; color: #333333;\">@{items('Apply_to_each')?['pharma_quantityremaining']}</td>\n</tr>"
              }
            }
          },
          "runAfter": {
            "Save_email_variable_html": [
              "Succeeded"
            ]
          }
        },
        "Append_email_end": {
          "type": "AppendToStringVariable",
          "inputs": {
            "name": "EmailBody",
            "value": " </tbody>\n                            </table>\n                            \n                            <!-- Legend -->\n                            <table role=\"presentation\" style=\"width: 100%; margin: 20px 0;\">\n                                <tr>\n                                    <td style=\"padding: 15px; background-color: #fafafa; border-radius: 6px;\">\n                                        <p style=\"margin: 0 0 8px 0; font-size: 13px; font-weight: 600; color: #555555;\">Status Legend:</p>\n                                        <p style=\"margin: 0; font-size: 12px; color: #666666;\">\n                                            <span style=\"display: inline-block; width: 12px; height: 12px; background-color: #d32f2f; border-radius: 2px; margin-right: 6px;\"></span> Expired or &lt;0 days\n                                            <span style=\"display: inline-block; width: 12px; height: 12px; background-color: #ff9800; border-radius: 2px; margin: 0 6px 0 15px;\"></span> Expiring soon (&lt;30 days)\n                                            <span style=\"display: inline-block; width: 12px; height: 12px; background-color: #4caf50; border-radius: 2px; margin: 0 6px 0 15px;\"></span> 30+ days\n                                        </p>\n                                    </td>\n                                </tr>\n                            </table>\n                            \n                            <p style=\"margin: 20px 0 0 0; color: #666666; font-size: 14px; line-height: 1.5;\">\n                                Please take immediate action on any expired items and plan accordingly for items expiring within 30 days.\n                            </p>\n                        </td>\n                    </tr>\n                    \n                    <!-- Footer -->\n                    <tr>\n                        <td style=\"background-color: #f5f5f5; padding: 20px; text-align: center; border-top: 1px solid #eeeeee;\">\n                            <p style=\"margin: 0; color: #999999; font-size: 12px;\">\n                                This is an automated notification from your inventory management system.<br>\n                                Generated on @{utcNow('MMM dd, yyyy')} at @{utcNow('HH:mm')} UTC\n                            </p>\n                        </td>\n                    </tr>\n                    \n                </table>\n            </td>\n        </tr>\n    </table>\n</body>\n</html>"
          },
          "runAfter": {
            "Apply_to_each": [
              "Succeeded"
            ]
          }
        },
        "Send_an_email_(V2)": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "emailMessage/To": "busayosamuelg2016@gmail.com",
              "emailMessage/Subject": "⚠️ Drug Expiration Alert - Action Required",
              "emailMessage/Body": "@variables('EmailBody')",
              "emailMessage/Importance": "High"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_outlook",
              "operationId": "SendEmailV2",
              "connectionName": "shared_outlook"
            }
          },
          "runAfter": {
            "Append_email_end": [
              "Succeeded"
            ]
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}