solutions/PharmaTrack360/src/Workflows/purchaseordercreationchild-4CE109C9-970D-F111-8406-7CED8D7608A8.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_35cba"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "undefined",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text_1": {
                  "description": "Please enter your input",
                  "title": "InventoryList",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text": {
                  "description": "Please enter your input",
                  "title": "PurchaseOrderID",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text_1",
                "text"
              ]
            }
          },
          "conditions": []
        }
      },
      "actions": {
        "Parse_inventory_input_JSON_array": {
          "type": "ParseJson",
          "inputs": {
            "content": "@triggerBody()?['text_1']",
            "schema": {
              "type": "object",
              "properties": {
                "@@odata.type": {
                  "type": "string"
                },
                "@@odata.id": {
                  "type": "string"
                },
                "@@odata.etag": {
                  "type": "string"
                },
                "@@odata.editLink": {
                  "type": "string"
                },
                "statecode@OData.Community.Display.V1.FormattedValue": {
                  "type": "string"
                },
                "statecode": {
                  "type": "integer"
                },
                "pharma_reorderpoint@OData.Community.Display.V1.FormattedValue": {
                  "type": "string"
                },
                "pharma_reorderpoint": {
                  "type": "integer"
                },
                "pharma_inventorybatchesid@odata.type": {
                  "type": "string"
                },
                "pharma_inventorybatchesid": {
                  "type": "string"
                },
                "pharma_reorderquantity@OData.Community.Display.V1.FormattedValue": {
                  "type": "string"
                },
                "pharma_reorderquantity": {
                  "type": "integer"
                },
                "pharma_isreordered@OData.Community.Display.V1.FormattedValue": {
                  "type": "string"
                },
                "pharma_isreordered": {
                  "type": "boolean"
                },
                "pharma_quantityremaining@OData.Community.Display.V1.FormattedValue": {
                  "type": "string"
                },
                "pharma_quantityremaining": {
                  "type": "integer"
                },
                "pharma_Product@odata.associationLink": {
                  "type": "string"
                },
                "pharma_Product@odata.navigationLink": {
                  "type": "string"
                },
                "pharma_Product": {
                  "type": "object",
                  "properties": {
                    "@@odata.type": {
                      "type": "string"
                    },
                    "@@odata.id": {
                      "type": "string"
                    },
                    "@@odata.editLink": {
                      "type": "string"
                    },
                    "pharma_productid@odata.type": {
                      "type": "string"
                    },
                    "pharma_productid": {
                      "type": "string"
                    },
                    "pharma_productname": {
                      "type": "string"
                    },
                    "pharma_PreferredSupplier@odata.associationLink": {
                      "type": "string"
                    },
                    "pharma_PreferredSupplier@odata.navigationLink": {
                      "type": "string"
                    },
                    "pharma_PreferredSupplier": {
                      "type": "object",
                      "properties": {
                        "@@odata.type": {
                          "type": "string"
                        },
                        "@@odata.id": {
                          "type": "string"
                        },
                        "@@odata.editLink": {
                          "type": "string"
                        },
                        "pharma_supplierid@odata.type": {
                          "type": "string"
                        },
                        "pharma_supplierid": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "runAfter": {}
        },
        "Respond_to_a_Power_App_or_flow": {
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "title": "Response",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "additionalProperties": {}
            },
            "statusCode": 200,
            "body": {
              "response": "@{'success'}"
            }
          },
          "runAfter": {
            "Create_purchase_order_line_items": [
              "Succeeded"
            ]
          }
        },
        "Create_purchase_order_line_items": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "pharma_purchaseorderlineitems",
              "item/pharma_name": "@concat('LINE-', rand(1,10000))",
              "item/pharma_Product@odata.bind": "pharma_products(@{body('Parse_inventory_input_JSON_array')?['pharma_Product']?['pharma_productid']})",
              "item/pharma_POLine@odata.bind": "pharma_purchaseorders(@{triggerBody()?['text']})",
              "item/pharma_quantityordered": "@body('Parse_inventory_input_JSON_array')?['pharma_reorderquantity']",
              "item/overriddencreatedon": "@utcNow()"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "CreateRecord",
              "connectionName": "shared_commondataserviceforapps"
            }
          },
          "runAfter": {
            "Parse_inventory_input_JSON_array": [
              "Succeeded"
            ]
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}