solutions/PharmaTrack360/src/Workflows/Purchaseordergeneration-25EB97D3-3E07-F111-8406-002248A2149C.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps-1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_35cba"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_approvals": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedapprovals_bda3c"
        },
        "api": {
          "name": "shared_approvals"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "0e9a17e9-1f2e-44d2-bf91-dae96362293d"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          }
        }
      },
      "actions": {
        "List_Inventory_batches": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "898c2ede-887f-4e3b-aac7-677a7a302a9f"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps-1",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "pharma_inventorybatcheses",
              "$select": "pharma_reorderpoint,pharma_quantityremaining,statecode,pharma_isreordered, pharma_reorderquantity",
              "$filter": "statecode eq 0 and pharma_isreordered eq false",
              "$expand": "pharma_Product($select=pharma_productname;$expand=pharma_PreferredSupplier($select=pharma_supplierid))"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Map_suppliers": {
          "runAfter": {
            "Filter_for_low_stock_items": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "18915163-666c-443b-88db-c4b68eb4b6a3"
          },
          "type": "Select",
          "inputs": {
            "from": "@body('Filter_for_low_stock_items')",
            "select": {
              "SupplierId": "@item()?['pharma_Product/pharma_PreferredSupplier/pharma_supplierid']"
            }
          }
        },
        "Unique_supplier_list": {
          "runAfter": {
            "Map_suppliers": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "78468ab2-db6a-482b-a87b-192d6ff8bcbe"
          },
          "type": "Compose",
          "inputs": "@union(body('Map_suppliers'),body('Map_suppliers'))"
        },
        "Apply_to_each_supplier": {
          "foreach": "@outputs('Unique_supplier_list')",
          "actions": {
            "Filter_array_for_current_supplier": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "6488da14-d962-4120-b7cb-e1736ac056f9"
              },
              "type": "Query",
              "inputs": {
                "from": "@body('Filter_for_low_stock_items')",
                "where": "@equals(item()?['pharma_Product/pharma_PreferredSupplier/pharma_supplierid'],items('Apply_to_each_supplier')?['SupplierId'])"
              }
            },
            "For_each_filtered_supplier": {
              "foreach": "@outputs('Filter_array_for_current_supplier')['body']",
              "actions": {
                "Stringify_inventory": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "d826061a-c8af-425c-a304-7b1d5323f94b"
                  },
                  "type": "Compose",
                  "inputs": "@string(items('For_each_filtered_supplier'))"
                },
                "Create_line_items": {
                  "runAfter": {
                    "Stringify_inventory": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "c6ea13d1-0a4a-431e-95df-e87997da76b1"
                  },
                  "type": "Workflow",
                  "inputs": {
                    "host": {
                      "workflowReferenceName": "4ce109c9-970d-f111-8406-7ced8d7608a8"
                    },
                    "body": {
                      "text_1": "@outputs('Stringify_inventory')",
                      "text": "@outputs('Create_purchase_order')?['body/pharma_purchaseorderid']"
                    }
                  }
                }
              },
              "runAfter": {
                "Create_purchase_order": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d6b11044-ba2f-4115-80c1-9c87cf99a6f4"
              },
              "type": "Foreach"
            },
            "Create_purchase_order": {
              "runAfter": {
                "Filter_array_for_current_supplier": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "9e67b037-7dcc-4002-b871-274b5c068e92"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps-1",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "pharma_purchaseorders",
                  "item/pharma_name": "@concat('PO-', rand(0,10000))",
                  "item/pharma_approvalstatus": 540350000,
                  "item/pharma_orderdate": "@utcNow()",
                  "item/pharma_orderstatus": 540350000
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "If_approved": {
              "actions": {
                "Update_purchase_order_to_approved": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "e974c2c7-0ec1-4c99-8c24-46b4dd8adc9d"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps-1",
                      "operationId": "UpdateOnlyRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "pharma_purchaseorders",
                      "recordId": "@outputs('Create_purchase_order')?['body/pharma_purchaseorderid']",
                      "item/pharma_approvalstatus": 540350001,
                      "item/pharma_orderstatus": 540350000
                    },
                    "authentication": {
                      "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                    }
                  }
                },
                "For_each_inventory": {
                  "foreach": "@outputs('Filter_array_for_current_supplier')['body']",
                  "actions": {
                    "Update_inventory_status": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "66805a6b-3731-4535-808e-4a9bbe46a14c"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps-1",
                          "operationId": "UpdateOnlyRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "pharma_inventorybatcheses",
                          "recordId": "@items('For_each_inventory')?['pharma_inventorybatchesid']",
                          "item/pharma_isreordered": true
                        },
                        "authentication": {
                          "type": "Raw",
                          "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "Update_purchase_order_to_approved": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "c510df06-478a-4805-b5ee-eb14a3905329"
                  },
                  "type": "Foreach"
                }
              },
              "runAfter": {
                "Start_and_wait_for_an_approval": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Update_purchase_order_to_rejected": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "3689f35b-8060-48c0-ab63-ef5c4562df86"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps-1",
                        "operationId": "UpdateOnlyRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "pharma_purchaseorders",
                        "recordId": "@outputs('Create_purchase_order')?['body/pharma_purchaseorderid']",
                        "item/pharma_approvalstatus": 540350002,
                        "item/pharma_orderstatus": 540350004
                      },
                      "authentication": {
                        "type": "Raw",
                        "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                      }
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@outputs('Start_and_wait_for_an_approval')?['body/outcome']",
                      "Approve"
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "27098c55-3c1d-4ee5-ba3d-be1e2e00f48d"
              },
              "type": "If"
            },
            "Start_and_wait_for_an_approval": {
              "runAfter": {
                "For_each_filtered_supplier": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "520f00b8-b9d7-4da5-a76a-79fa4fe554fb"
              },
              "type": "OpenApiConnectionWebhook",
              "inputs": {
                "host": {
                  "connectionName": "shared_approvals",
                  "operationId": "StartAndWaitForAnApproval",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_approvals"
                },
                "parameters": {
                  "approvalType": "Basic",
                  "WebhookApprovalCreationInput/title": "Purchase order",
                  "WebhookApprovalCreationInput/assignedTo": "Bella@bellatrick2016gmail.onmicrosoft.com",
                  "WebhookApprovalCreationInput/enableNotifications": true,
                  "WebhookApprovalCreationInput/enableReassignment": true
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            }
          },
          "runAfter": {
            "Unique_supplier_list": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8bee1568-8f7c-409a-bf76-23fc15aba0e4"
          },
          "type": "Foreach"
        },
        "Filter_for_low_stock_items": {
          "runAfter": {
            "List_Inventory_batches": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6e0a3a6d-b390-457e-9633-88e4554c3202"
          },
          "type": "Query",
          "inputs": {
            "from": "@outputs('List_Inventory_batches')?['body/value']",
            "where": "@less(item()?['pharma_quantityremaining'],item()?['pharma_reorderpoint'])"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}