solutions/PharmaTrack360/src/Workflows/Untitledflow-A59EDDCC-E2FC-F011-8406-0022489FDD64.json
{
  "properties": {
    "connectionReferences": {
      "shared_onedriveforbusiness": {
        "api": {
          "name": "shared_onedriveforbusiness"
        },
        "connection": {
          "connectionReferenceLogicalName": "new_sharedonedriveforbusiness_1e39b"
        },
        "runtimeSource": "invoker"
      },
      "shared_ilovepdf": {
        "api": {
          "name": "shared_ilovepdf"
        },
        "connection": {
          "connectionReferenceLogicalName": "new_sharedilovepdf_cc818"
        },
        "runtimeSource": "invoker"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "actions": {
        "List_files_in_folder": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "id": "@triggerBody()?['entity']['filePath']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness",
              "operationId": "ListFolderV2",
              "connectionName": "shared_onedriveforbusiness"
            }
          },
          "runAfter": {}
        },
        "Apply_to_each": {
          "type": "Foreach",
          "foreach": "@outputs('List_files_in_folder')?['body/value']",
          "actions": {
            "Get_file_content": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "id": "@items('Apply_to_each')?['Id']",
                  "inferContentType": true
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness",
                  "operationId": "GetFileContent",
                  "connectionName": "shared_onedriveforbusiness"
                }
              }
            },
            "Image_to_PDF": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "body/file_source": "url",
                  "body/file_name": "@items('Apply_to_each')?['Name']",
                  "body/file_url": "@triggerBody()?['entity']['fileUrl']",
                  "body/pagesize": "A4"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_ilovepdf",
                  "operationId": "ImageToPDF",
                  "connectionName": "shared_ilovepdf"
                }
              },
              "runAfter": {
                "Get_file_content": [
                  "SUCCEEDED"
                ]
              }
            }
          },
          "runAfter": {
            "List_files_in_folder": [
              "SUCCEEDED"
            ]
          }
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "ApiConnection",
          "inputs": {
            "operationId": "ForASelectedFile",
            "schema": {
              "type": "object",
              "properties": {
                "rows": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "entity": {
                        "properties": {
                          "filePath": {
                            "title": "filePath",
                            "type": "string"
                          },
                          "fileUrl": {
                            "title": "fileUrl",
                            "type": "string"
                          }
                        },
                        "type": "object",
                        "required": []
                      }
                    },
                    "required": []
                  }
                }
              },
              "required": []
            },
            "host": {
              "connection": {
                "name": "@parameters('$connections')['shared_onedriveforbusiness']['connectionId']"
              }
            }
          },
          "splitOn": "@triggerBody()['rows']"
        }
      },
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}